body {
    margin: 0 auto;
    font-family: 'Rubik', sans-serif;
    background: url("images/pattern-bg.png") no-repeat;
    background-size: 100% 50%;
}

#mapid {
    height: 41rem;
    margin-top: 7rem;
}

input:focus {
    outline: none;
}

hr {
    height: 5.3rem;
    margin: 0;
    margin-top: 2rem;
}

input::placeholder {
    font-size: 1rem;
    color:hsl(0, 0%, 59%);
}

.header {
    text-align: center;
    padding: 2rem;
}

.title {
    margin: 0;
    margin-bottom: 2rem;
    font-weight: 500;
    color: #fff;
}

.info {
    color: black;
    margin-bottom: 0;
    margin-top: .5rem;
    font-size: 1.5rem;
}

.input {
    width: 30rem;
    padding: 1rem;
    border: none;
    border-radius: 15px 0 0 15px;
}

.input-container {
    display: flex;
    justify-content: center;
}

.input-button {
    background-color: black;
    cursor: pointer;
    border: none;
    padding: 1rem 1.5rem;
    border-radius: 0 15px 15px 0;
}

.input-button:active {
    background-color: hsl(0, 0%, 17%);
}

.painel {
    background-color: #fff;
    display: flex;
    top: 13rem;
    left: 0;
    right: 0;
    min-width: min-content;
    max-width: fit-content;
    z-index: 1000;
    margin: 0 auto;
    position: absolute;
    border-radius: 15px;
}

.container-info {
    padding: 2rem;
    width: 100%;
}

.title-info {
    margin: 0;
    font-weight: 500;
    color: hsl(0, 0%, 59%);
    font-size: .9rem;
    text-transform: uppercase;
}

.block-all {
    position: fixed;
    display: none;
    z-index: 1000;
    background: rgba(0,0,0,.4);
    height: 100%;
    width: 100%;
}

.block-wrapper {
    max-width: 480px;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    pointer-events: none;
    background: #fff;
    padding: 40px 30px;
    border-radius: 15px;
    transform: translate(-50%, -50%) scale(1.2);
    box-shadow: 10px 10px 15px rgba(0,0,0,0.06);
}

.show {
    display: block;
}

.block-wrapper .block-content,
.block-content .warn-icon,
.warn-icon span {
    display: flex;
    align-items: center;
    justify-content: center;
}

.block-wrapper .block-content {
    flex-direction: column;
}

.block-content .warn-icon {
    height: 115px;
    width: 115px;
    border-radius: 50%;
    background: linear-gradient(#9b27ca 0%, #9927cf 0%, #d33639 100%, #f92121 100%);
}

.warn-icon span {
    height: 100px;
    width: 100px;
    background: #fff;
    border-radius: inherit;
}

.warn-icon span i {
    font-size: 50px;
    background: linear-gradient(#9b27ca 0%, #9927cf 0%, #d33639 100%, #f92121 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.block-content h2 {
    margin-top: 35px;
    font-size: 32px;
}

.block-content p {
    font-size: 19px;
    text-align: center;
    margin-top: 20px;
}

.block-content button {
    margin-top: 30px;
    padding: 15px 33px;
    font-size: 18px;
    border: none;
    outline: none;
    background: linear-gradient(#9b27ca 0%, #9927cf 0%, #d33639 100%, #f92121 100%);
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
}

@media only screen and (max-width: 1047px) {
    .painel {
        display: block;
        top: 11rem;
    }

    .container-info {
        width: auto;
        text-align: center;
        padding: 1rem 0;
    }

    hr {
        display: none;
    }
}

.loader-wrapper {
    width: 100%;
    height: 100%;
    z-index: 1000;
    position: absolute;
    text-align: center;
    color: #fff;
    top: 0;
    left: 0;
    background-color: #4A4BAA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #fff;
    animation: loader 2s infinite ease;
}

.loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 2s infinite ease-in;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s .8s, opacity .8s linear;
  }

@keyframes loader {
    0% { transform: rotate(0deg);}
    25% { transform: rotate(180deg);}
    50% { transform: rotate(180deg);}
    75% { transform: rotate(360deg);}
    100% { transform: rotate(360deg);}
  }
  @keyframes loader-inner {
    0% { height: 0%;}
    25% { height: 0%;}
    50% { height: 100%;}
    75% { height: 100%;}
    100% { height: 0%;}
  }